<div class="materias-container">
    <h2>Materias y Calificaciones</h2>
    <div class="materias">
        <div class="materia pasada">
            <div class="imagen">
                <img src="../../../assets/img/data.png" alt="Datos">
            </div>
            <div class="contenido">
                <h3>Base de Datos</h3>
                <span class="calificacion">8.5</span>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 85%;"></div>
                </div>
                <div class="info">
                    <p>Profesor: Dr. Pérez</p>
                    <p>Fecha de examen: 15 de mayo</p>
                </div>
            </div>
        </div>
        <div class="materia reprobada">
            <div class="imagen">
                <img src="../../../assets/img/ofi.png" alt="Oficce de Informática">
            </div>
            <div class="contenido">
                <h3>Oficce de Informática</h3>
                <span class="calificacion">6.0</span>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
                <div class="info">
                    <p>Profesor: Lic. Gómez</p>
                    <p>Fecha de examen: 20 de junio</p>
                </div>
            </div>
        </div>
        <div class="materia pasada">
            <div class="imagen">
                <img src="../../../assets/img/progra.png" alt="Programación Web">
            </div>
            <div class="contenido">
                <h3>Programación Web</h3>
                <span class="calificacion">9.2</span>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 92%;"></div>
                </div>
                <div class="info">
                    <p>Profesor: Mtra. Sánchez</p>
                    <p>Fecha de examen: 10 de junio</p>
                </div>
            </div>
        </div>
        <div class="materia pasada">
            <div class="imagen">
                <img src="../../../assets/img/code.png" alt="Aplicaciones Móviles">
            </div>
            <div class="contenido">
                <h3>Aplicaciones Móviles</h3>
                <span class="calificacion">7.8</span>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 78%;"></div>
                </div>
                <div class="info">
                    <p>Profesor: Dr. Martínez</p>
                    <p>Fecha de examen: 5 de junio</p>
                </div>
            </div>
        </div>
    </div>

    <div class="action-btn-container">
        <button type="button" (click)="logout()" class="btn-cerrar">Cerrar Sección</button>
    </div>
</div>

